// Colors

//  Primary

$softRed: hsla(7, 99%, 70%, 0.3);
$yellow: hsl(51, 100%, 49%);
$lightYellow: hsla(51, 100%, 49%, 0.3);
$darkDesaturatedCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$darkModerateCyan: hsl(164, 36%, 59%);

// Neutral

$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// spacing

$pad-s: 1.44rem;
$pad-m: 2rem;
